.wrap-categories {
  display: flex;
  flex-direction: column;
}
.btn-categories-position {
  display: inline-block;
  padding-top: 24px;
}

.btn-categories {
  display: block;
  width: 178px;
  height: 52px;
  padding: 14px 29px;
  border-radius: 15px;
  border: 1px solid var(--primary-color-02);
  color: var(--primary-color-05);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  margin-bottom: 24px;
}

.btn-categories:hover,
.btn-categories:focus {
  background-color: var(--background-mob-menu);
  color: var(--background);
  border: 0;
  transition: color, background-color 300ms;
}

.btn-filter {
  display: block;
  border: 0;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  color: var(--primary-color-03);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.btn-filter:active,
.btn-filter:focus,
.btn-filter:hover {
  color: var(--background-mob-menu);
  transition: color 300ms;
}

.filter-categories {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 18px;
  width: 326px;
  height: 198px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-05);
}

.filter-categories {
  scrollbar-color: dark;
}

/* @media screen and (max-width: 767px) {
  .filter-categories {
    width: 326px;
    height: 198px;
  }
} */

@media screen and (min-width: 768px) {
  .filter-categories {
    width: 176px;
    height: 416px;
  }
  .btn-categories {
    width: 176px;
    padding: 14px 28px;
    margin-bottom: 30px;
  }
  .wrap-categories {
    margin-right: 32px;
  }
  .btn-filter {
    font-size: 16px;
    line-height: 20px;
  }
  .filter-categories {
    gap: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .filter-categories {
    width: 235px;
    height: 416px;
  }
  .btn-categories {
    margin-bottom: 42px;
    padding: 14px 27px;
  }
  .wrap-categories {
    margin-right: 60px;
  }
}
