.gallery {
  display: flex;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 16px;
  justify-content: center;
  margin-top: 14px;
}

.card-container {
  width: 335px;
  height: 335px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .card-container {
    width: 240px;
    height: 264px;
  }
}
@media only screen and (min-width: 1280px) {
  .card-container {
    width: 250px;
    height: 287px;
  }
}

.like-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  z-index: 3;
  padding: 0;
  cursor: pointer;
}

.like-icon {
  stroke: #f8f8f8;
  fill: none;
  opacity: 0.5;
  z-index: 3;
  pointer-events: none;
}

.like-favorite {
  fill: #f8f8f8;
  opacity: 1;
}

.card-info {
  position: absolute;
  top: 0;
  left: 0;

  padding: 214px 16px 16px 16px;
}

@media only screen and (min-width: 768px) {
  .card-info {
    padding-top: 143px;
  }
}

@media only screen and (min-width: 1280px) {
  .card-info {
    padding-top: 166px;
  }
}

.card-header {
  color: #f8f8f8;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-description {
  color: #f8f8f8;
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 16px;
  max-height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-rate {
  display: flex;
  gap: 4px;
  align-items: center;
}

.card-rate-value {
  color: #f8f8f8;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

.card-rate-stars {
  display: flex;
  gap: 2px;
}

.star-icon-grey {
  fill: rgba(248, 248, 248, 0.1);
  width: 16px;
  height: 16px;
}

.star-icon-orange {
  fill: #eea10c;
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .star-icon {
    width: 13px;
    height: 13px;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer-btn {
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: none;
  background: #9bb537;
  color: #f8f8f8;
  font-size: 12px;
  min-width: 89px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .card-footer-btn {
    max-width: 93px;
  }
}
.card-footer-btn:hover,
.card-footer-btn:focus {
  color: #050505;
}
