.footer-container {
    position: relative;
    width: 375px;
    height: auto;
    padding: 40px 20px;
    margin: 0 auto;
    
}
@media screen and (min-width: 768px) {
    .footer-container {
        /* display: flex; */
        min-width: 768px;
        height: auto;
        padding: 60px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-container {
        min-width: 1280px;
        height: auto;
        padding: 80px 100px;
    }
}

.line {
    position: absolute;
    top: 0;
    right: 10%;
    width: 80%;
    stroke-width: 1px;
    stroke: #B4B4B4;
    margin-bottom: 40px;
   
}

@media screen and (min-width: 768px) {
    .main-footer-content {
        min-width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    /* gap: 100px; */
    /* margin-top: 10px; */
    }
}



.contacts {
width: 215px;
height: 100px;
margin: 0 auto;
margin-bottom: 40px;

}
@media screen and (min-width: 768px) {
    .contacts{
        margin: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .contacts{
        margin: 0;
        margin-bottom: 0;
    }
}

.contacts-tittle {
    color: #9BB537;
    margin-bottom: 8px;
}

.contacts-text {
   margin-bottom: 2px;
}



.logo-coders {
width: auto;
height: auto;
/* margin: 0 auto; */
margin-bottom: 40px;
border-radius: 100px;
/* border: 5px solid #B4B4B4; */
}

@media screen and (min-width: 768px) {
    .logo-coders{
        margin: 0;
        margin-bottom: 0;
    }
}

.coders-btn {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 100px;
    background-color: transparent;
    border-color: transparent;
}

.team-logo {
    width: 120px;
    height: auto;
}
.coders-btn:hover,
.coders-btn:focus {
    box-shadow: rgba(155, 181, 55, 0.8) 0px 30px 90px;

}


.donate-container {
    display: flex;
    flex-direction: column;
width: 335px;
height: 150px;
/* margin-bottom: 40px; */

border-radius: 15px;
border: 1px solid #B4B4B4;

}

/* @media only screen and (min-width: 768px){
    .donate-container{
        width: 400px;
        height: auto;
    }
} */


/* @media only screen and (min-width: 1280px){
    .donate-container{
        width: 457px;
        height: 200px;
    }
} */

.name-donate {

    width: 170px;
    height: 20px;
    background-color: #fff;
    border-radius: 15px;
    transform: translateX(50%) translateY(-35%);
    
    /* transform: translateX(50%); */

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.37; /* 137.5% */
    text-transform: uppercase;
}

.text-donate {
    color: #9BB537;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.4;
    /* text-align: center; */
    margin: 0 auto;
    margin-bottom: 10px;
}



.fonds-btn-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 18px; */
}

.fond-btn{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    background-color: #fff;
    border-radius: 80px;
    border-color: transparent;

/* transition-property: shadow; */
transition-duration: 250ms;
transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fond-btn:hover,
.fond-btn:focus {
    /* box-shadow: rgba(155, 181, 55, 1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(155, 181, 55, 0.8) 0px 30px 90px;
}

.fond-logo{
   display: block;
    width: 50px;
    height: auto;
    object-position: center;
}

.fond-logo-live{
    width: 120px;
    height: auto;
    object-fit: cover
    
}



/* MODAL TEAM */
.modal-team {

/* opacity: 0;
visibility: hidden; */
display: none;
    position: relative;
    padding: 40px 20px;
    max-width: 355px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    /* background-color: #cbdc88; */
    border-radius: 15px;
    border: 2px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    max-height: 95%;
    z-index: 100;
}

@media screen ahd (min-width: 768px) {
    .modal-team {
        width: 760px;

    } 
}

.modal-team-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    backdrop-filter: blur(2px);
  
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
  }


  @media screen and (min-width: 768px) {
    .modal-team {
      max-width: 531px;
      height: 905px;
      padding: 32px;
    }
  }

.team-modal-overlay {
opacity: 0;
visibility: hidden;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
z-index: 20;
transition: 0.3s all;
}  

.team-modal-close {
    width: auto;
    height: auto;
    position: absolute;
    top: 14px;
    right: 14px;
    stroke: #000;
    cursor: pointer;
}

/* .is-hidden-modal {
    display: none;
} */