.footer-container {
  position: relative;
  width: 375px;
  height: auto;
  padding: 40px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer-container {
    /* display: flex; */
    min-width: 768px;
    height: auto;
    padding: 60px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    min-width: 1280px;
    height: auto;
    padding: 80px 100px;
  }
}

.line {
  position: absolute;
  top: 0;
  right: 10%;
  width: 80%;
  stroke-width: 1px;
  stroke: #b4b4b4;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-footer-content {
    min-width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    /* gap: 100px; */
    /* margin-top: 10px; */
  }
}

.contacts {
  width: 215px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    margin: 0;
    margin-bottom: 0;
  }
}

.contacts-tittle {
  color: var(--border-pag);
  margin-bottom: 8px;
}

.contacts-text {
  margin-bottom: 2px;
  color: var(--primary-color);
}

.logo-coders {
  width: 150px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 100px;
}

@media screen and (min-width: 768px) {
  .logo-coders {
    width: auto;
    margin: 0;
    margin-bottom: 0;
  }
}

.coders-btn {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 100px;
  background-color: transparent;
  border-color: transparent;
  transition: box-shadow 300ms;
}

.team-logo {
  width: 120px;
  height: auto;
}
.coders-btn:hover,
.coders-btn:focus {
  box-shadow: rgba(155, 181, 55, 0.8) 0px 30px 90px;
}

.donate-container {
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 150px;
  margin-bottom: 40px;

  border-radius: 15px;
  border: 1px solid #b4b4b4;
  transition: box-shadow 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.donate-container:hover,
.donate-container:focus {
  border-color: #240196;
  /* box-shadow: ; */
  -webkit-box-shadow: -9px 5px 15px 5px #ffe488, 12px -5px 15px 5px #80c7ff,
    14px 2px 4px -14px rgba(0, 0, 0, 0.25);
  box-shadow: -9px 5px 15px 5px #ffe488, 12px -5px 15px 5px #80c7ff,
    14px 2px 4px -14px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 768px) {
  .donate-container {
    margin-bottom: 0;
  }
}

/* @media only screen and (min-width: 1280px){
    .donate-container{
        width: 457px;
        height: 200px;
    }
} */

.name-donate {
  width: 170px;
  height: 20px;
  background-color: var(--primary-raiting);
  border-radius: 15px;
  transform: translateX(50%) translateY(-35%);

  /* transform: translateX(50%); */

  color: var(--primary-color);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.37; /* 137.5% */
  text-transform: uppercase;
}

.text-donate {
  color: var(--border-pag);
  font-family: Inter;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.4;
  /* text-align: center; */
  margin: 0 auto;
  margin-bottom: 10px;
}

.fonds-btn-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 18px; */
}

.fond-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  background-color: var(--background);
  border-radius: 80px;
  border-color: transparent;

  /* transition-property: shadow; */
  transition: box-shadow 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fond-btn:hover,
.fond-btn:focus {
  /* box-shadow: rgba(155, 181, 55, 0.8) 0px 30px 90px; */
  box-shadow: rgba(155, 181, 55, 0.07) 0px 1px 2px,
    rgba(155, 181, 55, 0.07) 0px 2px 4px, rgba(155, 181, 55, 0.07) 0px 4px 8px,
    rgba(155, 181, 55, 0.07) 0px 8px 16px,
    rgba(155, 181, 55, 0.07) 0px 16px 32px,
    rgba(155, 181, 55, 0.07) 0px 32px 64px;
}

.fond-logo {
  display: block;
  width: 50px;
  height: auto;
  object-position: center;
}

.fond-logo-live {
  width: 120px;
  height: auto;
  object-fit: cover;
}

/* .fond-logo:hover,
.fond-logo:focus,
.fond-logo-live:hover,
.fond-logo-live:focus {
    box-shadow: rgba(155, 181, 55, 0.8) 0px 30px 90px;
} */

/* MODAL TEAM */

.modal-team {
  /* display: none; */
  position: relative;
  padding: 40px 20px;
  max-width: 355px;
  height: auto;
  margin: 0 auto;
  background-color: var(--background-menu);
  border-radius: 15px;
  border: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-height: 95%;
  z-index: 1000;
}

.modal-team {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.modal-team::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media screen and (min-width: 768px) {
  .modal-team {
    width: 760px;
  }
}

.modal-team-backdrop {
  /* opacity: 0; */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(2px);

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .modal-team {
    max-width: 532px;
    height: 905px;
    padding: 30px;
  }
}

.team-modal-close {
  width: auto;
  height: auto;
  position: absolute;
  top: 14px;
  right: 14px;
  stroke: var(--primary-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-modal-close:hover {
  stroke: #9bb537;
  scale: 1.2;
}

.modal-tittle {
  color: var(--border-pag);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.team-list-container {
  /* display: flex; */
  width: 296px;
  height: auto;
  gap: 9px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list-container {
    width: 447px;
  }
}
.team-list {
  display: flex;
  flex-direction: column;
  width: 296px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 472px;
    gap: 22px;
  }
}

.team-item {
  display: flex;
  /* min-width: 296px; */
  height: 100px;
  border-radius: 50px;
  box-shadow: var(--team-member-shadow);
  margin-bottom: 12px;
}

@media only screen and (max-width: 767px) {
  .team-item {
    min-width: 296px;
  }
}

@media only screen and (min-width: 768px) {
  .team-item {
    position: relative;

    width: 142px;
    height: auto;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

.member-photo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #f8f8f8;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

@media only screen and (min-width: 768px) {
  .member-photo {
    position: sticky;
    transform: translateY(-10%);
    width: 150px;
    height: auto;
    margin: 0 auto;
    /* margin-bottom: 3px; */
  }
}

.team-member {
  width: 150px;
  margin: 10px;
  border-radius: 15px;
  color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
  .team-member {
    width: 120px;
    margin: 0 auto;
  }
}
.name-team-member {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3; /* 157.143% */
  text-transform: uppercase;
  margin-bottom: 4px;
}

.rolle {
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2; /* 183.333% */
  text-transform: lowercase;
  margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
  .rolle {
    margin-bottom: 8px;
  }
}

.logo-coders-modal {
  width: 150px;
  height: auto;
  margin: 0 auto;
}
