.hero {
  padding-bottom: 80px;
  padding-top: 220px;
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 100px;
  }
}
.hero-container {
  display: block;
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
  }
}
.hero-title-block {
  min-width: 335px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .hero-title-block {
    min-width: 446px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-title-block {
    margin-right: 32px;
    padding-top: 64px;
  }
}

.hero-title {
  color: var(--primary-color);
  font-style: normal;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 36px;
    margin-bottom: 16px;
  }
}
.hero-title-span {
  color: #9bb537;
  font-style: italic;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}
.hero-descr {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 28px;
}
@media only screen and (min-width: 768px) {
  .hero-descr {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
  }
}
.hero-btn {
  width: 111px;
  padding: 10px 19px;

  border-radius: 12px;
  border: 1px solid #9bb537;

  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background-color: inherit;
  transition: background-color 300ms, color 300ms;
}
@media only screen and (min-width: 768px) {
  .hero-btn {
    width: 127px;
    padding: 14px 27px;
    border-radius: 15px;
  }
}
.hero-btn:hover {
  color: #f8f8f8;
  background-color: #9bb537;
}
.slider-events {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  min-width: 355px;
  height: 302px;
}
@media only screen and (min-width: 768px) {
  .slider-events {
    gap: 16px;
    min-width: 736px;
    height: 468px;
  }
}
@media only screen and (min-width: 1280px) {
  .slider-events {
    min-width: 702px;
  }
}
.slide-wrapper {
  display: flex;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .slide-wrapper {
    gap: 16px;
  }
}
.block-cook {
  background: #050505;
  min-width: 80px;
  height: 280px;
  border-radius: 15px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .block-cook {
    max-width: 137px;
    height: 442px;
  }
}
.block-cook > img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.block-dish {
  position: relative;
  min-width: 200px;
  height: 280px;
  border-radius: 15px;
  border: 1px solid rgba(155, 181, 55, 0.3);
  background: #050505;
}
@media only screen and (min-width: 768px) {
  .block-dish {
    min-width: 351px;
    height: 442px;
  }
}
.block-dish > img {
  position: absolute;
  z-index: 3;
  top: 56px;
  left: calc(50% - 75px);
  width: 150px;
}
@media only screen and (min-width: 768px) {
  .block-dish > img {
    top: 67px;
    left: calc(50% - 150px);
    width: 300px;
  }
}
.block-dish-ellipse {
  width: 118px;
  height: 118px;
  transform: rotate(-45deg);
  background-color: #9bb537;
  opacity: 0.6;
  filter: blur(81px);
  z-index: 2;
  position: absolute;
  top: 52px;
  left: calc(50% - 59px);
}
@media only screen and (min-width: 768px) {
  .block-dish-ellipse {
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }
}
.block-dish-descr {
  color: var(--primary-dish-name);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;

  padding-top: 218px;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
  width: 157px;
}
@media only screen and (min-width: 768px) {
  .block-dish-descr {
    font-size: 14px;
    line-height: 1.28;
    padding-top: 370px;
    width: auto;
  }
}
.block-dish-area {
  color: var(--primary-dish-area);
  text-align: center;
  font-size: 8px;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  .block-dish-area {
    font-size: 12px;
    line-height: 1.17;
  }
}
.block-dish-image {
  min-width: 200px;
  height: 280px;
  border-radius: 15px;
  background: #050505;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .block-dish-image {
    max-width: 351px;
    height: 442px;
  }
}

.block-dish-image > img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}
.slider-events .swiper-pagination {
  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bottom: -6px;
  --swiper-pagination-left: auto;
}
.slider-events .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: var(--primary-color);
  opacity: 1;
}
.slider-events .swiper-pagination-bullet-active {
  background-color: #9bb537;
}
