.modal-recipes-container {
  position: relative;
  padding: 40px 20px;
  max-width: 335px;
  height: 1171px;
  margin: 0 auto;
  background-color: var(--background-menu);
 
  border-radius: 15px;
  border: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-height: 95%;
}

.recipe-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(2px);

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .modal-recipes-container {
    max-width: 531px;
    height: 905px;
    padding: 32px;
  }
}

.modal-recipes-name {
  display: none;
}
/* !!! КНОПКА ЗАКРИТТЯ !!! */
.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
.icon-close-btn {
  stroke: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .icon-close-btn {
  stroke: var(--border-pag);
  scale: 1.2;
}

/*  !!! КОНТЕЙНЕР З РЕЦЕПТОМ !!! */

.modal-recipes {
  display: flex;
  padding-top: 40px;
  }

.name-of-recipe {
  margin-bottom: 14px;
  color: var(--primary-color);
   font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3; /* 133.333% */
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .name-of-recipe {
    margin-bottom: 16px;
    line-height: 1.2; /* 122.222% */
  }
}

@media screen and (max-width: 768px) {
  .only-tablet {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .only-mobile {
    display: none;
  }
}

/*  !!! ВІДЕО !!! */

.video-container {
  display: flex;
  position: relative;
  width: 295px;
  height: 295px;
  margin: auto;
  margin-bottom: 26px;
  color: #05050566;
  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.4) 0%,
      rgba(5, 5, 5, 0.4) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}

@media only screen and (min-width: 768px) {
  .video-container {
    width: 467px;
    height: 250px;
  }
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.play-video {
  position: absolute;
  z-index: 100;

}

.play-icon {
  width: 32px;
  height: 32px;
  stroke: #f8f8f8;
}

@media screen and (min-width: 768px) {
  .play-icon {
    width: 38px;
    height: 38px;
  }
}

/* !!! ЗІРОЧКИ-РЕЙТИНГ !!! */
.rating-on-tablet {
  display: none;
}

@media only screen and (min-width: 768px) {
  .rating-on-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 467px;
    height: 30px;
    margin-bottom: 32px;
  }
}

.stars-container {
  display: flex;
  justify-content: space-around;
  height: 18px;
  margin-bottom: 33px;
  gap: 16px;
}

.stars-tablet {
  display: flex;
  align-items: center;
}

.stars-list-item {
  display: flex;
  align-items: center;
}

.recipe-modal-rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.modal-star-icon-gray {
  fill: #0505051a;
  width: 18px;
  height: 18px;
}

.modal-star-icon-orange {
  fill: #eea10c;
  width: 18px;
  height: 18px;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 1px;
}

@media screen and (min-width: 767px) {
  .stars-container {
    display: none;
  }
}

.stars-tablet {
  display: flex;
  justify-content: center;

  gap: 8px;
}
.stars-item {
  display: flex;
  gap: 1px;
}
.rating-on-tablet-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 467px;
  min-height: 30px;
  gap: 32px;
}

.rating {
  color: var(--primary-color-05);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.star {
  display: inline-flex;
  align-items: flex-start;
  gap: 1px;
  width: 18px;
  height: 18px;
  fill: #eea10c;
}

.time-preparing {
  color: var(--primary-color-05);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

/*  !!! ІНГРЕДІЄНТИ !!! */
.ingredients-container {
  overflow-y: scroll;
  flex-direction: column;
  width: 295px;
  height: 224px;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .ingredients-container {
    width: 467px;
    height: 204px;
    margin-bottom: 32px;
  }
}
.ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: auto;
  gap: 10px;
  border-bottom: 1px solid #0505051a;

  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .ingredients {
    width: 467px;
  }
}

.product-name {
  align-items: flex-end;
  color: var(--primary-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}

.number {
  color: var(--primary-color-05);
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}

/*  !!! ОБРАНІ КАТЕГОРІЇ (хештеги) !!! */
.selected-categories {
  width: auto;
  height: 30px;
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .selected-categories {
    display: none;
  }
}
.selected {
  width: auto;
  height: auto;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .selected {
    gap: 4px;
  }
}
.categiries {
  padding: 8px 16px;
  color: var(--primary-color);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
  border-radius: 35px;
  border: 1px solid var( --primary-color-02);
}

/*  !!! ТЕКСТ РЕЦЕПТУ !!! */
.recipe-text-box {
  overflow-y: scroll;
  width: 295px;
  height: 288px;
  margin-bottom: 40px;
  flex-shrink: 0;
  height: 288px;
}

@media only screen and (min-width: 768px) {
  .recipe-text-box {
    width: 467px;
    height: 162px;
    margin-bottom: 32px;
  }
}

.recipe-text {
  color: var(--primary-color-08);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}

/*  !!! КНОПКИ !!! */

.add-to-favorite {
  display: inline-flex;
  width: auto;
  height: auto;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--border-pag);
  color: var(--background);
  font-size: 14px;
  font-weight: 500;
  border-color: transparent;
  border-radius: 15px;
  transition: 0.2s;
}
.remove-from-fav {
  background: #f35a4a;
}

.add-to-favorite:hover,
.add-to-favorite:focus {
  color:var(--primary-color);
}
@media screen and (min-width: 768px) {
  .add-to-favorite {
    padding: 14px 28px;
    width: auto;
    height: 45px;
    margin-right: 16px;
  }
}

@media screen and (min-width: 1128px) {
  .add-to-favorite:hover,
  .add-to-favorite:focus {
    cursor: pointer;
  }
}

.give-a-rating {
  display: inline-flex;
  width: auto;
  height: auto;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #050505;
  font-size: 14px;

  font-weight: 500;

  border-radius: 15px;
  border: 1px solid #9bb537;
  transition: color 0.2s;
}

@media screen and (min-width: 768px) {
  .give-a-rating {
    padding: 14px 28px;
    width: auto;
    height: 45px;
  }
}

.give-a-rating:hover,
.give-a-rating:focus {
  background: var(--border-pag);
  color: var(--background);
}
@media screen and (min-width: 1128px) {
  .give-a-rating:hover,
  .give-a-rating:focus {
    cursor: pointer;
  }
}

/*  */

.recipe-modal-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.modal-recipe-ingred {
  display: flex;
  justify-content: space-between;
  /* padding-right: 10px; */
  border-bottom: 1px solid var(--primary-color-01);
}

.modal-recipe-ingred:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 6px;
}

.ingredients-container,
.recipe-text {
  padding-right: 10px;
}

.modal-recipes-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.modal-recipes-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media screen and (max-width: 767px) {
  .recipe-text {
    margin-top: 24px;
  }
}
