.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.close-list-lick-order-now :hover,
.close-list-lick-order-now :focus {
  stroke: var(--accent-color);
  transition: stroke 0.3s;
}

.order-now-modal {
  margin: 0 auto;
  background-color: var(--background-menu);
  border-radius: 15px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.form {
  display: flex;
  flex-direction: column;
}

.order-now-title {
  color: var(--primary-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}

.order-now-input {
  border-radius: 15px;
  border: 1px solid var(--primary-color-02);
  padding: 14px 18px;
  padding-right: 0px;
  margin-bottom: 16px;
  width: 100%;
  transition: 200ms ease-in;
  outline: none;
  background-color: transparent;
  color: var(--primary-color);
}

.order-now-input.textarea {
  resize: none;
}

.order-now-input::placeholder {
  color: var(--primary-color-05);
  font-size: 16px;
}

.order-now-input:hover {
  outline: none;
  border-color: #9bb537;
}

.order-now-input:focus {
  outline: none;
  border: 2px solid #91b500;
  transition: stroke 0.3s;
}

.order-now-button {
  border-radius: 15px;
  background: #9bb537;
  outline: none;
  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  border: none;
}

.order-now-modal-off {
  position: absolute;
}

.close-list-lick-order-now {
  background-color: transparent;
  border: none;
  padding: 0;
}

.close-list-lick-order-now:hover .order-now-close-list-icon {
  stroke: #9bb537;
  scale: 1.2;
}

.close-list-child-order-now {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-now-close-list-icon {
  stroke: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-now-text {
  color: var(--primary-color-05);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 765px) {
  .order-now-modal {
    padding: 28px 20px;
    min-width: 335px;
  }

  .order-now-title {
    margin-bottom: 28px;
  }

  .pop-up-input {
    margin-bottom: 14px;
  }

  .order-now-modal-off {
    top: 14px;
    right: 14px;
  }

  .order-now-button {
    padding: 15px 0px;
  }

  .order-now-close-list-icon {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .order-now-modal {
    padding: 40px 40px;
    width: 440px;
  }

  .order-now-title {
    margin-bottom: 40px;
  }

  .full-stars {
    margin: 4px 0 32px 0;
  }

  .order-now-input {
    margin-bottom: 18px;
  }

  .order-now-modal-off {
    top: 16px;
    right: 16px;
  }

  .order-now-button {
    padding: 14px 0px;
  }
}

@media only screen and (min-width: 1158px) {
  .order-now-modal {
    padding: 32px 32px;
    width: 440px;
  }

  .order-now-input {
    margin-bottom: 16px;
  }

  .order-now-modal-off {
    top: 16px;
    right: 16px;
  }

  .order-now-button {
    padding: 14px 0px;
    transition: color 0.3s;
  }
}

.order-now-button:hover,
.order-now-button:focus {
  color: #050505;
}

.review-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(2px);

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.overlay {
  opacity: 0;
  visibility: hidden;
}

.modal {
  opacity: 0;
  visibility: hidden;
  z-index: 400;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.phone-container {
  position: relative;
  margin-bottom: 18px;
}

.phone-code {
  color: var(--primary-color);
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 5px;
}
.phone-code::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 1px;
  background-color: rgba(64, 64, 64, 0.3);
}

.phone-container input {
  padding-left: 70px;
  margin-bottom: 0;
}
