#pagination {
  height: 44px;
  margin: 64px 0 0 0;
}

#pagination.tui-pagination .tui-is-selected,
.tui-pagination strong {
  margin-right: 10px;
  background: #9bb537;
  border: #9bb537;
  color: #050505;
}
#pagination.tui-pagination .tui-page-btn {
  font-size: 18px;
}

.tui-page-btn {
  justify-content: center !important;
  align-items: center !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50% !important;
  border: 1px solid var(--primary-color-03) !important;
  color: var(--primary-color) !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 122.222% !important;

  padding: 12px 0 !important;
}
.tui-pagination .tui-first .move-button {
  border: none !important;
}
.tui-pagination .tui-prev {
  border: none !important;
  margin-right: 24px !important;
}
.tui-pagination .tui-is-disabled .tui-ico-first {
  background-position: -13px 0px;
}

.tui-first,
.tui-prev {
  background-color: var(--primaty-black-color);
  border: var(--primaty-black-color) !important;
}
.tui-first,
.tui-next {
  margin-right: 10px;
}
.tui-is-selected {
  margin-right: 10px;
}
.tui-next,
.tui-last {
  background-color: var(--accent-color);
  border: var(--accent-color) !important;
}
.tui-page-btn,
.tui-first,
.move-button {
  margin-right: 10px;
}
.tui-next-is-ellip {
  margin-right: 24px;
}
#pagination .tui-next {
  margin-left: 0;
}
.tui-pagination .tui-ico-first {
  width: 11px;
  height: 10px;
  background-position: -13px 0px !important;
}
.tui-pagination .tui-ico-prev {
  width: 6px;
  height: 10px;
  background-position: -26px -12px !important;
}

.tui-pagination .tui-is-selected:hover {
  background-color: #4b96e6;
}
.tui-pagination .tui-page-btn:hover {
  background-color: var(--accent-color) !important;
}
.tui-pagination .tui-is-disabled:hover {
  background-color: var(--primaty-black-color) !important;
  cursor: default;
}
