.scroll-icon {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #9bb537;
  cursor: pointer;
  opacity: 1;
  visibility: visible;

  transition: 300ms ease-in;
}

.scroll-icon:hover,
.scroll-icon:focus {
  fill: white;
  background: #9bb537;
  stroke: #9bb537;
}

.scroll-hidden {
  opacity: 0;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}
