.scroll-icon {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #9bb537;
  cursor: pointer;
  opacity: 1;
  visibility: visible;

  transition: 300ms ease-in;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  animation-name: bounce-4;
  animation-timing-function: ease;
}

.scroll-icon:hover,
.scroll-icon:focus {
  fill: white;
  background: #9bb537;
  stroke: #9bb537;
}

.scroll-hidden {
  opacity: 0;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
