<div class="wrap-categories">
          <button class="btn-categories" type="submit">All categories</button>
          <div class="filter-categories">
            <button class="btn-filter" type="submit">Beef</button>
            <button class="btn-filter" type="submit">Breakfast</button>
            <button class="btn-filter" type="submit">Chicken</button>
            <button class="btn-filter" type="submit">Dessert</button>
            <button class="btn-filter" type="submit">Goat</button>
            <button class="btn-filter" type="submit">Lamb</button>
            <button class="btn-filter" type="submit">Miscellaneous</button>
            <button class="btn-filter" type="submit">Pasta</button>
            <button class="btn-filter" type="submit">Pork</button>
            <button class="btn-filter" type="submit">Seafood</button>
            <button class="btn-filter" type="submit">Side</button>
            <button class="btn-filter" type="submit">Soup</button>
            <button class="btn-filter" type="submit">Starter</button>
            <button class="btn-filter" type="submit">Vegan</button>
            <button class="btn-filter" type="submit">Vegetarian</button>
          </div>
        </div>