<form class="filters-form js-form">
  <label class="filters-label search-label">
    Search
    <input
      type="text"
      name="search-bar"
      placeholder="Enter Text"
      class="search-bar js-recipe-input"
    />

    <span class="js-filter-input"></span>
  </label>

  <label class="filters-label time-label">
    Time
    <div class="select-div">
      <select class="filters-option js-time-select" name="time">
        <option value="" disabled selected hidden>0 min</option>
      </select>
    </div>
  </label>

  <label class="filters-label area-label">
    Area
    <div class="select-div">
      <select class="filters-option js-area-select" name="area">
        <option value="" disabled selected hidden>Region</option>
      </select>
    </div>
  </label>

  <label class="filters-label ingredients-label">
    Ingredients
    <div class="select-div">
      <select class="filters-option js-ingred-select" name="ingredients">
        <option value="" disabled selected hidden>Product</option>
      </select>
    </div>
  </label>

  <button type="reset" class="clear-filter">
    <span class="reset-filter"></span
    ><span class="reset-btn-text">Reset the filter</span>
  </button>
</form>
