<div class="footer-container">
  <!-- <img src="" alt=""> -->
  <!-- <div class="line"> -->
  <hr class="line" />
  <!-- </div> -->
  <div class="main-footer-content">
    <div class="donate-container">
      <h2 class="name-donate">glory to ukraine</h2>
      <pre class="text-donate">
Please support our armed forces.
            Make a donate</pre
      >
      <!-- <div class="fonds"> -->
      <ul class="fonds-btn-list">
        <li class="fond-item">
          <div class="fond-btn">
            <a
              href="https://prytulafoundation.org/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <img
                class="fond-logo"
                src="/img/footer/prutyla-min.png"
                alt="Prytula Fondation"
              />
              <!-- <svg class="" width="" height="">
                                <use href="">prutyla</use>
                            </svg> -->
            </a>
          </div>
        </li>
        <li class="fond-item">
          <div class="fond-btn">
            <a
              href="https://savelife.in.ua/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <img
                class="fond-logo-live"
                src="/img/footer/come-back-alive-min.png"
                alt="Save life Foundation"
              />
              <!-- <svg class="" width="" height="">
                             <use href="">savelife</use>
                         </svg> -->
            </a>
          </div>
        </li>
      </ul>
      <!-- </div> -->
    </div>

    <div class="logo-coders">
      <button
        type="button"
        id="open-team-modal"
        class="coders-btn js-open-modal"
        data-modal="4"
      >
        <img
          class="team-logo"
          src="/img/footer/logo-coders-min.png"
          alt="logo of nightCoders"
        />
      </button>
    </div>

    <div class="contacts">
      <h2 class="contacts-tittle">Our contacts:</h2>
      <p class="contacts-text"><b>Kyiv,</b> Independence Square</p>
      <p class="contacts-text"><b>tel:</b> +38 (068) 111-22-33</p>
      <p class="contacts-text"><b>e-mail:</b> nightcoders@ukr.net</p>
    </div>
  </div>
</div>

<!-- MODAL-TEAM -->

<div class="modal-team modal" data-modal="4">
  <svg class="team-modal-close js-modal-close" width="20" height="20">
    <use href="/img/icons.svg#close"></use>
  </svg>

  <h2 class="modal-tittle">Our team</h2>
  <div class="team-list-container">
    <ul class="team-list">
      <li class="team-item">
        <div class="member-photo-box">
          <img
            class="member-photo"
            src="/img/memebers-foto/Oleg-Kovalets-min-min.webp"
            alt="member of the team"
          />
        </div>
        <div class="team-member">
          <h3 class="name-team-member">Oleh Kovalets</h3>
          <p class="rolle"><b>Team Lead</b></p>
          <p class="rolle">Front-End Developer</p>
        </div>
      </li>
      <li class="team-item reverse">
        <div class="member-photo-box">
          <img
            class="member-photo"
            src="/img/memebers-foto/Yuliia-Shevchuk-min-min.webp"
            alt="member of the team"
          />
        </div>
        <div class="team-member">
          <h3 class="name-team-member">Yuliia Shevchuk</h3>
          <p class="rolle"><b>Scrum master</b></p>
          <p class="rolle">Front-End Developer</p>
        </div>
      </li>
      <li class="team-item">
        <div class="member-photo-box">
          <img
            class="member-photo"
            src="/img/memebers-foto/Vitaliy-Monastyrskyi-min-min.webp"
            alt="member of the team"
          />
        </div>
        <div class="team-member">
          <h3 class="name-team-member">Vitalii <br />Monastyrskyi</h3>
          <p class="rolle">Front-End Developer</p>
        </div>
      </li>
      <li class="team-item reverse">
        <div class="member-photo-box">
          <img
            class="member-photo"
            src="/img/memebers-foto/Natalia-Kostiuk-min-min.webp"
            alt="member of the team"
          />
        </div>
        <div class="team-member">
          <h3 class="name-team-member">Nataliia <br />Kostiuk</h3>
          <p class="rolle">Front-End Developer</p>
        </div>
      </li>
      <li class="team-item">
        <div class="member-photo-box">
          <img
            class="member-photo"
            src="/img/memebers-foto/Vitaliy-Somov-min-min.webp"
            alt="member of the team"
          />
        </div>
        <div class="team-member">
          <h3 class="name-team-member">Vitaliy <br />Somov</h3>
          <p class="rolle">Front-End Developer</p>
        </div>
      </li>
      <li class="team-item reverse">
        <div class="member-photo-box">
          <img
            class="member-photo"
            src="/img/memebers-foto/Anton-Rybalko-min-min.webp"
            alt="member of the team"
          />
        </div>
        <div class="team-member">
          <h3 class="name-team-member">Anton <br />Rybalko</h3>
          <p class="rolle">Front-End Developer</p>
        </div>
      </li>
      <li class="team-item">
        <div class="member-photo-box">
          <img
            class="member-photo"
            src="/img/memebers-foto/Sofia-min-min.webp"
            alt="member of the team"
          />
        </div>
        <div class="team-member">
          <h3 class="name-team-member">Sofiia <br />Volvach</h3>
          <p class="rolle">Front-End Developer</p>
        </div>
      </li>
      <li class="team-item reverse">
        <div class="member-photo-box">
          <img
            class="member-photo"
            src="/img/memebers-foto/Volodymyr-Pipash-min-min.webp"
            alt="member of the team"
          />
        </div>
        <div class="team-member">
          <h3 class="name-team-member">Volodymyr<br />Pipash</h3>
          <p class="rolle">Front-End Developer</p>
        </div>
      </li>
      <li class="team-item">
        <div class="member-photo-box">
          <img
            class="member-photo"
            src="/img/memebers-foto/Maksym-min-min.webp"
            alt="member of the team"
          />
        </div>
        <div class="team-member">
          <h3 class="name-team-member">Maksym<br />Grabovskyi</h3>
          <p class="rolle">Front-End Developer</p>
        </div>
      </li>
    </ul>
  </div>
  <img
    class="logo-coders-modal"
    src="/img/footer/logo-coders-min.png"
    alt="logo of team"
  />
</div>
