<div class="footer-container">
    <!-- <img src="" alt=""> -->
    <!-- <div class="line"> -->
    <hr class="line">
    <!-- </div> -->
    <div class="main-footer-content">
        <div class="donate-container">
         
            <h2 class="name-donate">glory to ukraine</h2>
            <pre class="text-donate">Please support our armed forces.
            Make a donate</pre>
            <!-- <div class="fonds"> -->
            <ul class="fonds-btn-list">
                <li class="fond-item">
                    <button type="button" class="fond-btn">
                        <a href="https://prytulafoundation.org/">
                            <img class="fond-logo" src="../img/footer/prutyla-min.png" alt="Prytula Fondation">
                            <!-- <svg class="" width="" height="">
                                <use href="">prutyla</use>
                            </svg> -->
                        </a>
                    </button>
                </li>
                <li class="fond-item">
                    <button type="button" class="fond-btn">
                        <a href="https://savelife.in.ua/">
                            <img class="fond-logo-live" src="../img/footer/come-back-alive-min.png" alt="Save life Foundation">
                         <!-- <svg class="" width="" height="">
                             <use href="">savelife</use>
                         </svg> -->
                        </a>
                    </button>
                </li>
                
            </ul>
            <!-- </div> -->
        </div>

        <div class="logo-coders">
          <button type="button" id="open-team-modal" class="coders-btn">
            
            <img class="team-logo" src="../img/footer/logo-coders-min.png" alt="logo of nightCoders">
        
    </button>
        </div>

        <div class="contacts">
            <h2 class="contacts-tittle" >Our contacts:</h2>
            <p class="contacts-text" ><b>Kyiv,</b> Independence Square</p>
            <p class="contacts-text"><b>tel:</b> +38 (068) 111-22-33</p>
            <p class="contacts-text"><b>e-mail:</b> nightcoders@ukr.net</p>
        </div>
    </div>
 
</div>

<!-- MODAL-TEAM -->

<div class="modal-team" data-modal="4">
<svg class="team-modal-close" width="20" height="20">
  <use href="../img/icons.svg#close"></use>
</svg>

    <h2 class="modal-tittle">Our team</h2>
<ul class="team-list">
    <li class="team-item">
<img src="" alt="member of the team">
<p class="name-team-member"></p>
<p>Front-End Developer</p>
    </li>
    <li class="team-item">
<img src="" alt="member of the team">
<p class="name-team-member"></p>
<p>Front-End Developer</p>
    </li>
    <li class="team-item">
<img src="" alt="member of the team">
<p class="name-team-member"></p>
<p>Front-End Developer</p>
    </li>
    <li class="team-item">
<img src="" alt="member of the team">
<p class="name-team-member"></p>
<p>Front-End Developer</p>
    </li>
    <li class="team-item">
<img src="" alt="member of the team">
<p class="name-team-member"></p>
<p>Front-End Developer</p>
    </li>
    <li class="team-item">
<img src="" alt="member of the team">
<p class="name-team-member"></p>
<p>Front-End Developer</p>
    </li>
    <li class="team-item">
<img src="" alt="member of the team">
<p class="name-team-member"></p>
<p>Front-End Developer</p>
    </li>
    <li class="team-item">
<img src="" alt="member of the team">
<p class="name-team-member"></p>
<p>Front-End Developer</p>
    </li>
    <li class="team-item">
<img src="" alt="member of the team">
<p class="name-team-member"></p>
<p>Front-End Developer</p>
    </li>
</ul>
<img class="logo-coders-modal" src="" alt="logo of team">
</div>
<div class="team-modal-overlay" id="modal-team-overlay">

</div>