<div class="footer-container">
    <!-- <img src="" alt=""> -->
    <!-- <div class="line"> -->
    <hr class="line">
    <!-- </div> -->
    <div class="main-footer-content">
        <div class="donate-container">
         
            <h2 class="name-donate">glory to ukraine</h2>
            <pre class="text-donate">Please support our armed forces.
            Make a donate</pre>
            <!-- <div class="fonds"> -->
            <ul class="fonds-btn-list">
                <li class="fond-item">
                    <button type="button" class="fond-btn">
                        <a href="https://prytulafoundation.org/">
                            <img src="" alt="Prytula Fondation">
                            <!-- <svg class="" width="" height="">
                                <use href="">prutyla</use>
                            </svg> -->
                        </a>
                    </button>
                </li>
                <li class="fond-item">
                    <button type="button" class="fond-btn">
                        <a href="https://savelife.in.ua/">
                            <img src="" alt="Save life Foundation">
                         <!-- <svg class="" width="" height="">
                             <use href="">savelife</use>
                         </svg> -->
                        </a>
                    </button>
                </li>
                
            </ul>
            <!-- </div> -->
        </div>

        <div class="logo-coders">
          <button type="button" class="coders-btn">
            
            <img src=" " alt="logo of nightCoders">
        
    </button>
        </div>

        <div class="contacts">
            <h2>Our contacts:</h2>
            <p><span class="bold">Kyiv,</span> Independence Square</p>
            <p><span class="bold">tel:</span> +38 (068) 111-22-33</p>
            <p><span class="bold">e-mail:</span> nightcoders@ukr.net</p>
        </div>
    </div>
 
</div>