<div class="gallery-container">
  <div class="card-container">
    <img
      class="card-image"
      src="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg"
      alt="alt"
    />
  </div>
  <div class="card-container">
    <img
      class="card-image"
      src="https://www.themealdb.com/images/media/meals/wvqpwt1468339226.jpg"
      alt="alt"
    />
    <button class="like-button">
      <svg class="like-icon" width="32" height="32">
        <use href="./src/img/icons.svg#star"></use>
      </svg>
    </button>
  </div>
</div>
