<div class="gallery-container">
  <div class="card-container">
    <img
      class="card-image"
      src="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg"
      alt="alt"
    />
  </div>
  <div class="card-container">
    <img
      class="card-image"
      src="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg"
      alt="alt"
    />
  </div>
  <div class="card-container">
    <img
      class="card-image"
      src="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg"
      alt="alt"
    />
  </div>
  <div class="card-container">
    <img
      class="card-image"
      src="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg"
      alt="alt"
    />
  </div>
  <div class="card-container">
    <img
      class="card-image"
      src="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg"
      alt="alt"
    />
  </div>
  <div class="card-container">
    <img
      class="card-image"
      src="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg"
      alt="alt"
    />
  </div>
</div>
