<div class="modal-recipes-container modal" data-modal="2">
  <!-- class="backdrop is-hidden" data-modal -->
  <h1 class="modal-recipes-name recipe-modal-title"></h1>
  <!-- іконка закриття -->
  <button type="button" class="modal-close-btn js-modal-close">
    <svg class="icon-close-btn" width="20" height="20">
      <use href="./img/icons.svg#close"></use>
    </svg>
  </button>

  <div class=".modal-recipes">
    <!-- <div > -->
    <h2 class="name-of-recipe only-tablet recipe-modal-title"></h2>
    <!-- </div> -->

    <!-- відео -->
    <!-- <div class="js-iframe-recipes video-container">
      
    </div> -->
    <!-- <video id="recipeVideo" class="video-container" controls>
      <sourse
        class="video-source"
        src="https://www.youtube.com/embed/tgbNymZ7vqY"
        type="video/webm"
      />
    </video> -->

    <div class="js-video video-container">
      <iframe src="" frameborder="0" allowfullscreen></iframe>
    </div>

    <h2 class="name-of-recipe only-mobile recipe-modal-title"></h2>

    <!-- рейтинг і зірочки (лише tablet) -->
    <div class="rating-on-tablet">
      <ul class="rating-on-tablet-list">
        <li>
          <ul class="recipe-modal-tags"></ul>
        </li>
        <li>
          <ul class="stars-tablet">
            <li class="recipe-modal-rating">
              <p class="modal-rating rating"></p>
              <ul class="modal-stars stars"></ul>
            </li>
            <li>
              <p class="time-preparing"></p>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Зірочки -->
    <div class="stars-container">
      <span class="rating modal-rating"></span>
      <ul class="stars modal-stars"></ul>
      <p class="time-preparing"></p>
    </div>

    <!-- інгредієнти -->
    <div class="ingredients-container">
      <ul class="modal-recipe-ingredients recipe-modal-ingreds"></ul>
    </div>

    <!-- ОБРАНІ КАТЕГОРІЇ (хештеги) -->
    <div class="selected-categories">
      <ul class="selected recipe-modal-tags"></ul>
    </div>

    <!-- текст рецепту -->
    <div class="recipe-text-box">
      <p class="recipe-text"></p>
    </div>

    <!-- кнопки -->
    <button type="button" class="add-to-favorite">Add to favorite</button>

    <button type="button" class="give-a-rating">Give a rating</button>
  </div>
</div>
<!-- <div class="recipe-backdrop overlay js-overlay-modal"></div> -->
