<div class="order-now-modal modal" data-modal="1">
  <div class="order-now-modal-off">
    <ul class="order-now-close-list">
      <li class="close-list-child-order-now">
        <button class="close-list-lick-order-now js-modal-close">
          <svg class="order-now-close-list-icon" width="24" height="24">
            <use href="./img/icons.svg#close"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <p class="order-now-title">Order now</p>

  <form class="form order-now-form" action="submit">
    <label class="list-child">
      <span class="order-now-text">Name</span>
      <input
        type="text"
        class="order-now-input"
        name="name"
        required
        minlength="3"
        placeholder="Піпаш Володимир"
      />
    </label>
    <label class="list-child">
      <span class="order-now-text">Phone number</span>
      <input
        type="tel"
        name="phone"
        class="order-now-input"
        required
        minlength="3"
        placeholder="+380500242333"
      />
    </label>
    <label class="list-child">
      <span class="order-now-text">Email</span>
      <input
        type="email"
        name="email"
        class="order-now-input"
        required
        minlength="3"
        placeholder="nightgoders@gmail.com"
      />
    </label>
    <label class="list-child">
      <span class="order-now-text">Comment</span>

      <textarea
        name="comment"
        class="order-now-input textarea"
        style="margin-bottom: 40px; height: 100px"
      ></textarea>
    </label>

    <button class="order-now-button" type="submit">Send</button>
  </form>
</div>
<div class="review-backdrop overlay js-overlay-modal"></div>
