<div class="pop-up-modal">
  <div class="modal-off">
    <ul class="close-list">
      <li class="close-list-child">
        <button type="button" class="rate-close-btn">
          <svg class="icon-close-btn" width="20" height="20">
            <use href="./img/icons.svg#close"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <p class="po-up-title">Rating</p>

  <div class="full-stars">
    <span class="star-span">0</span>
    <div class="rating-group">
      <!-- по умолчанию 0 -->
      <input name="fst" value="0" type="radio" disabled checked />

      <!-- рейтинг 1 -->
      <label for="fst-1" data-rating="1">
        <svg width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </label>
      <input name="fst" id="fst-1" value="1" type="radio" />

      <!-- рейтинг 2 -->
      <label for="fst-2" data-rating="2">
        <svg width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </label>
      <input name="fst" id="fst-2" value="2" type="radio" />

      <!-- рейтинг 3 -->
      <label for="fst-3" data-rating="3">
        <svg width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </label>
      <input name="fst" id="fst-3" value="3" type="radio" />

      <!-- рейтинг 4 -->
      <label for="fst-4" data-rating="4">
        <svg width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </label>
      <input name="fst" id="fst-4" value="4" type="radio" />

      <!-- рейтинг 5 -->
      <label for="fst-5" data-rating="5">
        <svg width="24" height="24">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </label>
      <input name="fst" id="fst-5" value="5" type="radio" />
    </div>
  </div>

  <form class="form pop-up-form">
    <input
      class="pop-up-input"
      name="email"
      type="email"
      placeholder="Email Address"
      minlength="3"
      required
    />
    <button class="pop-up-button" type="submit">Send</button>
  </form>
</div>

<div class="popup-backdrop"></div>
