<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/partials/pop-up.css">
</head>

<body>






    <div class="pop-up-conteiner ">


        <div class="pop-up-modal ">




            <div class="modal-off">
                <ul class="close-list">



                    <li class="close-list-child"><a class="close-list-lick" data-modal-close href=""><svg
                                class="close-list-icon" width="24" height="24">
                                <use href="/src/img/icons.svg#close"></use>
                            </svg></a></li>

                </ul>

            </div>



            <a href="" class="po-up-title">Rating</a>

            <div class="stars">
                <ul class="star-list">
                    <li class="star-list-child"><a class="star-list-lick" href=""><svg class="star-list-icon" width="24"
                                height="24">
                                <use href="/src/img/icons.svg#star"></use>
                            </svg></a></li>

                    <li class="star-list-child"><a class="star-list-lick" href=""><svg class="star-list-icon" width="24"
                                height="24">
                                <use href="/src/img/icons.svg#star"></use>
                            </svg></a></li>

                    <li class="star-list-child"><a class="star-list-lick" href=""><svg class="star-list-icon" width="24"
                                height="24">
                                <use href="/src/img/icons.svg#star"></use>
                            </svg></a></li>

                    <li class="star-list-child"><a class="star-list-lick" href=""><svg class="star-list-icon" width="24"
                                height="24">
                                <use href="/src/img/icons.svg#star"></use>
                            </svg></a></li>

                    <li class="star-list-child"><a class="star-list-lick" href=""><svg class="star-list-icon" width="24"
                                height="24">
                                <use href="/src/img/icons.svg#star"></use>
                            </svg></a></li>

                </ul>



                <div class="form">
                    <input class="pop-up-input" type="text" placeholder="Email Address">
                    <a class="pop-up-button" href="">Send</a>

                </div>


            </div>



        </div>

</body>

</html>