<div class="popular-headline">POPULAR RECIPES</div>
<ul class="popular-container">
    <li class="car-container">
        <div class="picture">
            <img src="../public/favicon.svg" alt="">
        </div>        
        <div class="text-container">
            <div class="popular-name">French Omelette</div>
            <p class="popular-desc desc">A French omelette is a simple yet elegant dish made with whisked eggs, butter, salt, and pepper, cooked gently until light and fluffy, then folded over and served for a comforting and refined meal any time of day.</p>
        </div>        
    </li>
    <li class="car-container">
        <div class="picture">
            <img src="../public/favicon.svg" alt="" >
        </div>        
        <div class="text-container">
            <div class="popular-name">French Omelette</div>
            <p class="popular-desc desc">A French omelette is a simple yet...omelette is a simple yet elegant A French omelette is a simple yet...omelette is a simple yet elegant A French omelette is a simple yet...omelette is a simple yet elegant</p>
        </div> 
    </li>
    <li class="car-container mob-hidden">
        <div class="picture">
            <img src="../public/favicon.svg" alt="" >
        </div>        
        <div class="text-container">
            <div class="popular-name">French Omelette</div>
            <p class="popular-desc desc">A French omelette is a simple yet...</p>
        </div> 
    </li>
    <li class="car-container mob-hidden">
        <div class="picture">
            <img src="../public/favicon.svg" alt="">
        </div>        
        <div class="text-container">
            <div class="popular-name">French Omelette</div>
            <p class="popular-desc desc">A French omelette is a simple yet elegant dish made with whisked eggs, butter, salt, and pepper, cooked gently until light and fluffy, then folded over and served for a comforting and refined meal any time of day.</p>
        </div>        
    </li>    
</ul>

