/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./base.css');
@import url('./partials/header.css');
@import url('./partials/hero.css');
@import url('./partials/filter.css');
@import url('./partials/popular-recipes.css');
@import url('./partials/gallery.css');
@import url('./partials/modal.css');
@import url('./partials/favorites.css');
@import url('./partials/all-categories.css');
@import url('./partials/modal-recipes.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  --primary-white-color: #ffffff;
  --primaty-black-color: #050505;
  --text-white-color: #f8f8f8;
  --accent-color: #9bb537;
  --primary-dark-color: #1e1e1e;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
